{% extends 'auth/base.html' %}

{% block form %}
    <form class="form col-md-12 center-block" action="{{ url_for('Auth:signup_post') }}" method="post">
        <div class="form-group">
            <input type="text" id="account_name" name="account_name" class="form-control input-lg" placeholder="Account Name" autofocus="" value="{{ req.account_name }}">
        </div>
        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Username" autofocus="" value="{{ req.username }}">
        </div>
        <div class="form-group">
            <input type="text" id="email_address" name="email_address" class="form-control input-lg" placeholder="Email" value="{{ req.email_address }}">
        </div>

        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password">
        </div>

        <div class="form-group">
            <input type="password" id="password_confirm" name="password_confirm" class="form-control input-lg" placeholder="Password Confirm">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Sign Up"/>
        </div>
    </form>
{% endblock %}