class BaseConfig(object):
    PORT = 3000
    DEBUG = True
    SQLALCHEMY_POOL_RECYCLE = 0
    SQLALCHEMY_TRACK_MODIFICATIONS = True
    SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://user:password@host/database'
    PASSWORD_ENCRYPTION_KEY = 'A16DigitSecureStringHere'
    SECRET_KEY = 'ASecretKeyHere'

    APP_BASE = 'https://havana.exile-tek.com'
    APP_NAME = 'Havana'
    SEND_FEEDBACK = True  # Send 500 HTTP errors to developers

    DEFAULT_CREDIT_LIMIT = 10000  # Default credit limit on an account, in pence